<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Literary Dating Site</title>
  </head>
  <body>
    <form action="/profile">
      Name
      <input name="name"><br>
      Profile Picture
      <input name="picture"
      Favorite Author
      <input name="author"><br>
      Favorite Book
      <input name="book"><br>
      Favorite Genre
      <input name="genre"><br>
      Favorite Word
      <input name="word"><br>
      Favorite Place to Read
      <input name="place"><br>
      <button type="submit">Generate Dating Profile</button>
    </form>
  </body>
</html>
